*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

.flex{
    display: flex;
}
.menubar{
    padding: 15px;
    /* padding-bottom: 40px; */
    /* text-align: center; */
    z-index: 10;  
    width: 100%;
    height: 170px;
    background-image: url(../img/unknowed.png);
    position: fixed;
    margin: 0px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo{
    /* margin: 0 auto; */
    width: 128px;
    height: 128px;
    /* background-color: yellow; */
    cursor: pointer;
}
.navigationBar{
    margin: 0 auto;
    width: 60%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;    
}

.bouncy{
    animation:bouncy 8s infinite linear;
    position:relative;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 4px;
    transition: 0.3s;
    border-radius: 8px;
    background: rgba(255,255,255,0.5);
    transform: translateY(15px);
}
.bouncy:hover{
    border: 1px solid black;
    font-size: 26px;
    color: white;
    padding: 0px 5px;
    background-color: rgba(121, 175, 203, 0.7);
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
.menuChooser{
justify-content: space-between;
/* display: none; */
}
.slogan{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    margin-right:  15px;
}
.logoAndSlogan{
    display: flex;
    justify-content: space-between;
    /* align-items: start; */
}
select{
    font-size: 18px;
    font-style: bold;
    background-color: transparent;
}
.conteiner{
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-left: 10px;
    padding-right: 10px;
}
.popularTours{
    width: 290px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 25px; 
}
.popularToursConteiner{
    width: 80%;
    margin: 20px auto 50px auto;
    height:400px;
    justify-content:space-around;
        
}
.toursCards{
    position: relative;
    text-align: center;
    width: 250px;
    height: 400px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(121, 175, 203, 0.7);
    transition: 0.3s;
    overflow: hidden;   
    z-index: 2;
}
.toursCards img {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
    z-index: 2;
    
}
.toursCards:hover{
    transform: scale(1.1);

}
.toursCards h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.toursCards p {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
}
.toursCards button {
    padding: 5px 15px;
    border: 1px solid red;
    position: relative;
    margin: 4px 4px 0px 4px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    
}
.toursCards button:hover{
    padding: 5px 30px;
    border : 1px solid yellow;
    background-color: rgba(121, 175, 203, 0.7);
    font-weight: bold;
    font-size: 18px;
}
.price{
    font-weight: bold;
}
.bgDiv {
    position: absolute;
    width: calc(100% - 10px);
    transition: 0.4s;
    opacity: 0.1;
    height: calc(100% - 10px);
    background-repeat: no-repeat;
    background-size: cover;
}
.firstTour{
    background-image: url(../img/ԱՐՇԱՎԱՅԻՆ_ՏՈՒՐ1.png);

}
.secondTour{
    background-image: url(https://onewaytour.com/wp-content/uploads/2016/11/3.-Cahkadzor-si-resort-Armenia-1-370x280.jpg);
}
.thirthTour{
    background-image: url(https://onewaytour.com/wp-content/uploads/2018/01/Website-tour-singl-watermark-%D5%A9%D5%A5%D6%843-1-390x295.jpg);
}
.fourthTour{
    background-image: url(https://windows10spotlight.com/wp-content/uploads/2021/10/2a5845aae8cb82ac7dc834205022e1d6.jpg);
}
#tc1:hover{
    color: white;
}
#tc3:hover{
    color: white;
}
#tc4:hover{
    color: white;
}
.toursCards:hover .bgDiv {
    /* width: 100%;
    height: 100%; */
    transform: scale(1.1);
    opacity: 1;
    z-index: -1;
    
}
.toursCards:hover {
    background: transparent;
}

/* About Armenia */
.aboutConteiner{
    position: relative;
    cursor: pointer;
    margin:0 auto;
    text-align: center;
    width:400px;
    height:360px;
}

.abuotArmeniah1{
    font-size: 35px;
    color: blue;
    padding: 5px;
    margin-left:10px;
}
.justblue{
    color: #007dc4;
}
a {
    color: #0060B6;
    text-decoration: none;
}
/* Feedback */
.feedback{
    /* background-image: url(../img/Tours\ in\ Armenia-logos_transparent.png); */
    /* width: 600px;
    height: 600px; */
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin: 0 auto;
    justify-content: space-evenly;
}
.feedback img{
    width:150px;
    height:150px;
}
.feedbackBoard{
    width: 295px;
    height: 350px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(121, 175, 203, 0.7);
    /* opacity: 0.9; */
    /* margin: 30px; */
    
}
.feedbackBoard span{
    font-weight: bold;
}
.feedback img{
    width: 600px;
    height: 600px;
}

/* footer */
.footer{
    width: 100%;
    height: 160px;
    /* background-color: #0060B6; */
    background-image: url(../img/footer_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footermenu{
    text-align: left;
    margin-left: 10px;
    color: rgb(180 182 206);
    cursor: pointer;
    transition: 0.3s;   
}
.footermenu li a:hover{
    color: white;
}
.footermenu a{
    text-decoration: none;
    color: rgb(180 182 206);
}